# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

# OPEN AI Proxy Variables
OPENAI_API_BASE_URL=''
OPENAI_API_KEY=''

# Open-WebUI variables
CUSTOM_NAME='The Boss'

# Open-WebUI defaults
DEFAULT_MODELS='mistralai/Mistral-7B-Instruct-v0.1'
DEFAULT_USER_ROLE='user'

# Image Generation variables
ENABLE_IMAGE_GENERATION=false
AUTOMATIC1111_BASE_URL="http://host.docker.internal:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true

# Caddyfile, leave blank to use default values from authentik
# AUTHENTIK_EMAIL=""
# AUTHENTIK_NAME=""
