#####################################################################
## Image Settings
#####################################################################

PORTAL_IMAGE=nginx:alpine

#####################################################################
## Port Settings
#####################################################################

PORTAL_PORT_HTTP=80
PORTAL_PORT_HTTPS=443
