#####################################################################
## Image and Repo Settings
#####################################################################

DOCKER_IMAGE_REPO="{INSERT PUBLIC IMAGE REPO HERE}"

AUTHENTIK_IMAGE="{INSERT PUBLIC AUTHENTIK IMAGE HERE}"
POSTGRES_IMAGE="postgres:12-alpine"
REDIS_IMAGE="redis:alpine"

#####################################################################
## Authentik Settings
#####################################################################

# openssl rand -hex 32
AUTHENTIK_SECRET_KEY= <replace with random value>
COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443

#####################################################################
## Database Settings
#####################################################################

# Change as needed
PG_PASS="authentik"
PG_USER="authentik"
PG_DB="authentik"
