#####################################################################
## Image and Repo Settings
#####################################################################

DOCKER_IMAGE_REPO="{INSERT PUBLIC IMAGE REPO HERE}"

OPENWEBUI_IMAGE="{INSERT PUBLIC IMAGE HERE}"

#####################################################################
## Open-WebUI
#####################################################################

# openssl rand -hex 32
WEBUI_SECRET_KEY= <replace with random value>
OPEN_WEBUI_PORT_HTTP=3000

#####################################################################
## Disabling Unwanted Web Requests
#####################################################################

ENABLE_OLLAMA_API=False
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
